%form
  %fieldset
    %legend Briefing
    .row
      .span5
        .control-group.row
          %label.control-label.span2 Nome
          .controls.span3
            %input.datepicker
            %span.help-block Texto de Ajuda
        .control-group.row
          %label.control-label.span2 Nome
          .controls.span3
            %input  
            %span.help-block
        .control-group.row
          %label.control-label.span2 Nome
          .controls.span3
            %input  
      .span5
        .control-group.row
          %label.control-label.span2 nome
          .controls.span3
            %input
        .control-group.row
          %label.control-label.span2 nome
          .controls.span3
            %input