- form_fields do |field|
  .control-group
    = form.label field[:name], :class => 'control-label'
    .controls
      - if field[:name].to_s == @row.class.label_field.to_s
        = form.send field[:widget], field[:name], :class => 'input-label'
      - else
        = form.send field[:widget], field[:name]
