<%= form_for @row, :html => { :class => 'form-horizontal' } do |form| %>
  <% if @row.errors.any? %>
  <div class="area messages">
    <ul>
    <% @row.errors.full_messages.each do |msg| %>
      <li class="error"><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= render 'form_fields', :form => form %>

  <%= form.submit :class => 'btn' %>
<% end %>

