<%= render 'two_columns_actions' %>
<div class="row">
  <div class="span6">
    <%= render 'table_list' %>
  </div>
  <div class="span6">
    <div class="well">
      <% if @row == nil %>
        No row selected
      <% else %>
      <%= render 'form' %>
      <% end %>
    </div>
  </div>
</div>
