<p>
  <%= link_to t(:create_row, :row => Contact::Person.model_name.human), new_contact_person_path, :class => 'btn' %>
  <%= link_to t(:create_row, :row => Contact::Company.model_name.human), new_contact_company_path, :class => 'btn' %>
</p>
<div class="row">
  <div class="span6">
    <%= render 'table_list' %>
  </div>
  <div class="span6">
    <div class="well">
      <% if @row == nil %>
        No row selected
      <% else %>
      <%= render 'form' %>
      <% end %>
    </div>
  </div>
</div>
