- if can? :create, Contact::Contact
  %p
    = link_to t(:create_row, :row => Contact::Person.model_name.human), new_contact_person_path, :class => 'btn'
    = link_to t(:create_row, :row => Contact::Company.model_name.human), new_contact_company_path, :class => 'btn'