<div class="control-group">
  <%= form.label :email, :class => 'control-label' %>
  <div class="controls">
    <div class="input-append">
      <%= form.text_field :fullname %>
      <span class="add-on"><i class="icon-remove"></i></span>
    </div>
    <div class="input-append">
      <%= form.text_field :fullname %>
      <span class="add-on"><i class="icon-remove"></i></span>
    </div>
    <%= link_to 'New email' %>
  </div>
</div>
